
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.pyc
.idea/workspace.xml~
.idea/workspace.xml
test/testData/127 char_____playlist name is very long and will cause a problem if the target dir name exceeds a maximum possible too big name#/Les imaginaires effondristes sont les seuls qui tiennent la route - Arthur Keller.mp3
